@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


*{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body{
    width: 100vw;
    background-color: var(--color-secundary);
}

header{
    width: 100%;
}

main{
    width: 100%;
}

.backgroundheader{
    background-image: url(../storage/img/placeYourImageHere0.png);
    background-position: 0px -10px;
    background-size: cover;
    width: 100%;
}

.filtroheader{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
}

.contenedorizquierdoheader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.contenedorizquierdoheader ul{
    display: flex;
    list-style: none;
    font-size: 1.5vw;
    width: 100%;
    justify-content: center;
}

.contenedorizquierdoheader ul li{
    margin: 0 1vw;
    display: flex;
    color: var(--color-font);
}


.contenedorimagenheader{
    width: 30%;
    display: flex;
    justify-content: center;
}

.contenedorimgheader{
    margin: 3vh 0;
    width: 15%;
}

.contenedorimagenheader img{
    width: 100%;
}

.contenedorderechoheader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.contenedorderechoheader ul{
    display: flex;
    list-style: none;
    width: 100%;
    font-size: 1.5vw;
    justify-content: center;
}

.contenedorderechoheader ul li{
    margin: 0 1vw;
    color: var(--color-font);
}


.contenedorderechoheader, .contenedorizquierdoheader{
    width: 30%;
}

.primeraseccion{
    background-image: url(../storage/img/placeYourImageHere0.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
}

.filtroprimeraseccion{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
}

.contenedorimagenprimeraseccion{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorimgprimeraseccion{
    width: 70%;
}

.contenedorimgprimeraseccion img{
    width: 100%;
    height: auto;
}

.contenedorderechoprimeraseccion{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorprimeraseccion{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3vh 0;
}

.tituloamarilloprimeraseccion{
    color: var(--color-primary);
    font-size: 2.2vw;
}

.parrafomedioprimeraseccion{
    color: var(--color-font);
    font-size: 2.2vw;
}

.contactusprimeraseccion button{
    border-radius: 1vw;
    font-size: 2.2vw;
    background-color: var(--color-primary);
    padding: 1.5vh 2vw;
}

.tituloamarilloprimeraseccion, .parrafomedioprimeraseccion, .contactusprimeraseccion{
    margin: 1.5vh 0;
}

.segundaseccion{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 7vw 0;
}

.contenedorimagensegundaseccion{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorizquierdosegundaseccion{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-font);
}

.contenedorimgsegunda{
    width: 80%;
    height: 80%;
}

.contenedorimgsegunda img{
    width: 100%;
    height: 100%;
}

.titulosegundaseccion{
    font-size: 2.2vw;
    margin-bottom: 1vh;
}

.parrafosegundaseccion{
    font-size: 2vw;
}

.contenedorseccionizquierdados{
    width: 60%;
}

.terceraseccion{
    position: relative;
    margin: 7vw 0;
}

.contenedorterceraseccion{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.backgroundimgterceraseccion img{
    width: 100%;
}

.imgwaffleterceraseccion{
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
}

.imgwaffleterceraseccion img{
    width: 100%;
}

.imghuevosfrutasterceraseccion{
    position: absolute;
    bottom: 4%;
    left: -4%;
    width: 40%;
}

.imghuevosfrutasterceraseccion img{
    width: 100%;
}

.imghuevosterceraseccion{
    position: absolute;
    right: 0;
    bottom: 0%;
    width: 62%;
}

.imghuevosterceraseccion img{
    width: 100%;
}

.contenedortextoterceraseccion{
    position: absolute;
    width: 32%;
    left: 10%;
    top: 20%;
    color: var(--color-font);
}

.contenedortextoterceraseccion h1{
    font-size: 3vw;
}

.contenedortextoterceraseccion p{
    display: flex;
    flex-wrap: wrap;
    font-size: 2vw;
    margin-top: 2vw;
}

.cuartaseccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-font);
    width: 100%;
    margin: 7vw 0;
}

.contenedorimg̣__cuartaseccion{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedorimg̣__cuartaseccion div{
    width: 29%;
    margin: 1vw;
}

.contenedorimg̣__cuartaseccion div img{
    width: 100%;
}

.titulo__cartaseccion{
    margin: 4vw 0;
    font-size: 2vw;
}

.enjoy__{
    position: relative;
    margin: 7vw 0;
}

.back__enjoy img{
    width: 100%;
}

.cont__enjoy{
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__enjoy{
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-font);
    font-weight: bold;
}

.text__enjoy p{
    font-size: 2vw;
    display: flex;
    text-align: center;
}

.text__enjoy h1{
    margin-bottom: 1.5vw;
    font-size: 2.5vw;
    display: flex;
    text-align: center;
}

.border__enjoy{
    border: 7px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
}

.ourmenu__{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 7vw 0;
}

.ourmenu__tit{
    display: flex;
    justify-content: center;
    color: var(--color-font);
    margin: 4vw;
}

.ourmenu__contenedorcolumnas{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ourmenu__contenedorcolumnas > div{
    display: flex;
    flex-direction: column;
    width: 28%;
    margin: 0 1vw;
}

.ourmenu__img{
    width: 100%;
}

.ourmenu__img img{
    width: 100%;
}

.ourmenu__contenido h1, p:nth-child(3){
    color: var(--color-primary);
}

.ourmenu__contenido h1{
    font-size: 1.8vw;
    text-align: center;
    margin: 1.6vw 0;
}

.ourmenu__contenido{
    width: 100%;
}

.ourmenu__parrafomedio{
    color: var(--color-font);
    font-size: 1.2vw;
    margin-bottom: 1.6vw;
}

.ourmenu__price{
    font-size: 1.8vw;
}

.bestmeal__{
    position: relative;
    width: 100%;
    margin-top: 14vw;
}

.bestmeal__invi{
    background-color: var(--color-primary);
    width: 100%;
    padding: 20vw;
}

.bestmeal__img{
    position: absolute;
    top: -14%;
    width: 50%;
}

.bestmeal__img img{
    width: 100%;
}

.bestmeal__contenido{
    position: absolute;
    top: 26%;
    right: 10%;
    color: var(--color-font);
    width: 35%;
}

.bestmeal__contenido h1{
    font-size: 3vw;
}

.bestmeal__contenido p{
    font-size: 2vw;
    margin-top: 1vw;
}

footer{
    background-color: var(--color-ternario);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer__img{
    width: 30%;
    margin-top: 7vw;
}

.footer__img img{
    width: 100%;
}

.footer__nav{
    margin: 2vw 0;
}

.footer__nav ul{
    list-style: none;
    display: flex;
    font-size: 1.5vw;

}

.footer__nav ul li a{
    color: var(--color-font);
    text-decoration: none;
}

.footer__nav ul li{
    margin: 0 1.5vw;
}

.footer__icons ul{
    list-style: none;
    display: flex;    width: 100%;
    justify-content: center;
}

.footer__icons ul li{
    color: var(--color-ternario);
    background-color: var(--color-font);
    height: 100%;
    border-radius: 8vw;
    padding: 0.5vw;
    margin: 0 1.5vw;
    display: flex;
}

.footer__icons{
    width: 100%;
    margin-bottom: 7vw;
}

.footer__icons ul li i{
    font-size: 2.5vw;
    height: 100%;
    width: 100%;
}